<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="loadport" value="8093" />
        <add key="service" value="10.10.10.14" />
        <add key="environment" value="demo" />
        <add key="loadingtimeout" value="60" />
        <add key="logport" value="8090" />
    </appSettings>
    <connectionStrings>
        <add connectionString="Server=WALRUS\PRI;Database=system;User ID=tabula;Password=Tabula!" name="priority" />
    </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.ashx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
