<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
        <add key="service" value="https://walrus.wonderland.local" />
        <add key="db" value="WALRUS\PRI" />
        <add key="path" value="\\walrus\d$\priority\system" />
        <add key="tabini" value="tabula.ini" />
        <add key="environment" value="" />
        <add key="oDataUser" value="" />
        <add key="oDataPassword" value="" />
        <add key="LogServer" value="MARCHHARE" />
        <add key="LogPort" value="8090" />


  </appSettings>
  <connectionStrings>
    <add connectionString="Server=WALRUS\PRI;Database=system;User ID=tabula;Password=Tabula!" name="priority" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="default.ashx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
</configuration>