<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="oDataHost" value="http://erpdemo.emerge-it.co.uk:8080"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=localhost\PRI;Trusted_Connection=Yes;" name="priority"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="default.ashx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Log Dir">
          <match url="^(log)/?$"/>
          <action type="Rewrite" url="log.aspx"/>
        </rule>
        <rule name="Log">
          <match url="^([0-9a-z_-]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9a-z_-]+).log"/>
          <action type="Rewrite" url="default.ashx?environment={R:1}&amp;endpoint=log&amp;yy={R:2}&amp;mm={R:3}&amp;dd={R:4}&amp;page={R:5}"/>
        </rule>
        <rule name="Log detail - XML">
          <match url="^([0-9a-z_-]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9a-z_-]+).xml"/>
          <action type="Rewrite" url="default.ashx?environment={R:1}&amp;endpoint=logdetail&amp;yy={R:2}&amp;mm={R:3}&amp;dd={R:4}&amp;BubbleID={R:5}&amp;view=xml"/>
        </rule>
        <rule name="Log detail - Normal">
          <match url="^([0-9a-z_-]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9a-z_-]+)"/>
          <action type="Rewrite" url="default.ashx?environment={R:1}&amp;endpoint=logdetail&amp;yy={R:2}&amp;mm={R:3}&amp;dd={R:4}&amp;BubbleID={R:5}"/>
        </rule>        
        <rule name="API Rewrite">
          <match url="^([0-9a-z_-]+)/([0-9a-z_-]+).([0-9a-z_-]+)"/>
          <action type="Rewrite" url="default.ashx?environment={R:1}&amp;endpoint={R:2}&amp;filetype={R:3}"/>
        </rule>
        <rule name="API Rewrite - just env">
          <match url="^([0-9a-z_-]+)/?$"/>
          <action type="Rewrite" url="default.ashx?environment={R:1}"/>
        </rule>
        <rule name="API Rewrite - No param">
          <match url="^/?$"/>
          <action type="Rewrite" url="default.ashx"/>
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>